<p style="color: green"><%= notice %></p>

<h1>Tools</h1>

<div id="tools">
  <% @tools.each do |tool| %>
    <%= render tool %>
    <p>
      <%= link_to "Show this tool", tool %>
    </p>
  <% end %>
</div>

<%= link_to "New tool", new_tool_path %>
