<%= render "/layouts/navbar"%>
<section id="sign_up" class="container">
<div class="card card-style1 border-0", style="padding:50px">
<h1 style="text-align:center">Nouvel outil</h1>

<%= render "form", tool: @tool%>

<br>

<div>
  <%= link_to "Retour aux outils", tools_path, style:"color:gray"%>
</div>
</div>
</section>
