<%= render "/layouts/navbarhome"%>
<section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center"><-->
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">Bienvenue sur Trox, notre site de prêt d'outils entre particuliers !</h2>
                        <p class="text-white-50">
Nous sommes une communauté de bricoleurs passionnés qui croient que les outils devraient être partagés et utilisés autant que possible.<br>
Notre site permet aux particuliers de prêter et d'emprunter des outils de manière simple et efficace. Vous pouvez parcourir notre catalogue en ligne pour trouver l'outil dont vous avez besoin et contacter le propriétaire pour organiser le prêt. Vous pouvez également ajouter vos propres outils à notre catalogue pour les prêter aux autres membres de la communauté.<br>
Nous sommes convaincus que le partage d'outils est bénéfique pour tous. Non seulement cela réduit les coûts et les déchets associés à l'achat d'outils neufs, mais cela permet également aux gens de se connecter et de collaborer dans leur communauté locale. Nous sommes fiers de faciliter ces relations et de promouvoir une culture de partage et de collaboration.<br>
Notre site est facile à utiliser et sécurisé. Tous les membres doivent s'inscrire et fournir des informations de base sur eux-mêmes et leurs outils avant de pouvoir prêter ou emprunter des outils. <br>
Rejoignez-nous aujourd'hui et faites partie de notre communauté de prêteurs d'outils passionnés !
</p>
</div>
