<header class="masthead">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h1 class="titretrox">TROX</h1>
        <h2 id="phrasetrox" class="text-white-50 mx-auto mt-2 mb-5">Prêt d'outils entre particuliers</h2>
      </div>
    </div>
  </div>
</header>
<body>
  <section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
      <!-- Featured Project Row-->
      <div data-aos="fade-left" class="row gx-0 mb-4 mb-lg-5 align-items-center">
        <div class="col-xl-8 col-lg-7"><img class="jardin-pic img-fluid mb-3 mb-lg-0" src="https://bricotrend.com/wp-content/uploads/2020/05/B%C3%A9tonni%C3%A8re3407.jpg" alt="..." /></div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Troxez vos outils</h4>
            <p class="text-black-50 mb-0" style="text-align : justify">Oui, vous devez absolument terminer vos travaux aujourd'hui. Oui, nous sommes dimanche et votre magasin de location est évidemment fermé. Oui, vous ne voulez pas dépenser une fortune pour une machine qui vous servira une seule fois. Oui, Trox est fait pour vous !</p>
          </div>
        </div>
      </div>
      <!-- Quadruple panneaux-->
      <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
        <div class="col-lg-6"><img class="img-fluid" src="https://www.tropheesdd.bzh/wp-content/uploads/2021/01/Photo-Classe-2020-2-NB-1.jpg-1-scaled.jpg"  alt="..." /></div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white" style="font-style : italic;">L'entraide</h4>
                <p class="mb-0 text-white-50"><span class="definition">n.f.</span> Action de s'entraider ; aide qu'on se porte mutuellement.</p>
                <blockquote class="citation"><span class="definition">“</span>Il se faut entraider, c'est la loi de nature.<span class="definition">„</span><br>Jean de La Fontaine, Fables, l'Âne et le Chien</blockquote>
                <hr class="d-none d-lg-block mb-0 ms-0" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Project Two Row-->
      <div class="row gx-0 justify-content-center">
        <div class="col-lg-6"><img class="img-fluid" src="https://cdn.discordapp.com/attachments/494169277629464616/1088115930904674425/grid_0.png"  alt="..." /></div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white"style="font-style : italic;">L'échange</h4>
                <p class="mb-0 text-white-50"><span class="definition">n.m.</span> Action de s'adresser, de s'envoyer réciproquement des choses (objets matériels, services...).</p>
                <blockquote class="citation"><span class="definition">“</span>Le don est échange de vie ; et la vie, échange de don.<span class="definition">„</span><br>Paul Zumthor, La Fête des fous</blockquote>
                <hr class="d-none d-lg-block mb-0 me-0" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Signup-->
  <!-- Contact--><!-- Contact--><!-- Contact--><!-- Contact-->
  <section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Adresse</h4>
              <hr class="my-4 mx-auto" />
              <div class="small text-black-50">55 Rue du Faubourg Saint-Honoré, 75008 Paris</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4 mx-auto" />
              <div class="small text-black-50"><a href="mailto:support@trox.fly.com">Contactez-nous</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Téléphone</h4>
              <hr class="my-4 mx-auto" />
              <div class="small text-black-50">+1 (555) 902-8832</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="social d-flex flex-column align-items-center">
      <h4 style="color: #ff6347; margin-bottom: 50px;">Rejoignez-nous sur Github</h4>
      <a class="mx-2" href="https://github.com/Pakibenji/trox"><i class="fa-brands fa-github"></i></a>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
  <div class="container px-4 px-lg-5">Copyright &copy; Eric, Benjamin, Julien, Maxime, Pierrick</div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="app/javascripts/application.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://kit.fontawesome.com/ea4bd2612a.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 3000,
        once: true,
      });
    </script>
</body>
</html>
<style>
