<header class="masthead">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h1 class="mx-auto my-0 text-uppercase">Trox</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Site de particulier à particulier, d'outillage</h2>
        <% if user_signed_in? %>
          <%= link_to "Mon profil",current_user, class:"nav-link", style:"text-decoration:none" %>
        <% else %>
          <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</header>
<section class="projects-section bg-light" id="projects">
  <div class="container px-4 px-lg-5">
    <!-- Featured Project Row-->
    <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
      <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="https://image.spreadshirtmedia.net/image-server/v1/compositions/T6A2PA5835PT17X18Y90D183127005W27589H15769/views/1,width=550,height=550,appearanceId=2,backgroundColor=000000,noPt=true/cadeau-bricolage-bricolo-bricoleur-meuble-t-shirt-homme.jpg" alt="..." /></div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>Je savais pas quoi mettre</h4>
          <p class="text-black-50 mb-0">Trox, est un site imaginé et développé avec les notions de partage, N'oubliez jamais, que personne n'a le niveau de maxime en FRONTEND </p>
        </div>
      </div>
    </div>
    <!-- Quadruple panneaux-->
    <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
      <div class="col-lg-6"><img class="img-fluid" src="https://www.tropheesdd.bzh/wp-content/uploads/2021/01/Photo-Classe-2020-2-NB-1.jpg-1-scaled.jpg"  alt="..." /></div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">L'entraide</h4>
              <p class="mb-0 text-white-50">Vous aidez, quelqu'un vous aidera, sauf éric..</p>
              <hr class="d-none d-lg-block mb-0 ms-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Project Two Row-->
    <div class="row gx-0 justify-content-center">
      <div class="col-lg-6"><img class="img-fluid" src="https://cdn.discordapp.com/attachments/494169277629464616/1088115930904674425/grid_0.png"  alt="..." /></div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Totalement gratuit</h4>
              <p class="mb-0 text-white-50"> Un message, une caution et vous n'avez besoin de rien d'autre.</p>
              <hr class="d-none d-lg-block mb-0 me-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
