<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<header class="masthead">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h1 class="mx-auto my-0 text-uppercase">Trox</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Site de particulier à particulier, d'outillage</h2>
        <a class="btn btn-primary" href="#about">Inscription</a>
      </div>
    </div>
  </div>
</header>
