<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.tool.user.firstname %> !</h1>
    <p>
      Un utilisateur a loué ton outil avec l'e-mail suivant : <%= @user.tool.loan.user.email %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur Trox !
  </body>
</html>