<%= render "/layouts/navbar"%>

<section class="bg-light">
<div class="container">
  <div class="row">
    <div class="col-lg-12 mb-4 mb-sm-5">
      <div class="card card-style1 border-0">
        <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
          <div class="row align-items-center">
            <h1 style="text-align:center; padding :100px 0px 50px 0px">Modifier l'emprunt</h1>

            <%= render "form2", loan: @loan %>

            <br>


            <div class="d-flex justify-content-evenly">

              <button type="button" id="loan_button"><%= link_to "Retour à mes emprunts", loans_path, class:"loan_button"%></button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
